.ipynb_checkpoints
__pycache__
.idea
flask_session

logs

knn_ticker.npy
local_snapshot_us_equity
local_us_equity_news
queue.feather
local_knn_news
local_us_equity_info
local_us_equity_news.feather
news_df.csv
result_lc.pickle
