body {
  margin: 0;
  background-color: #edf2f9 !important;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-weight: normal;
}

.offcanvas-lg {
  --bs-offcanvas-width: 300px;
  display: flex;
  width: var(--bs-offcanvas-width);
  min-width: var(--bs-offcanvas-width);
  max-width: var(--bs-offcanvas-width);
  flex: 1 1 auto;
  flex-direction: column;
}

.offcanvas-lg .offcanvas-header {
  display: flex;
}

.offcanvas-lg .offcanvas-body {
  display: block !important;
  width: 100% !important;
  flex: 1 1 auto !important;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x) !important;
  min-height: 0;
  overflow: auto !important;
}

@media (min-width: 1400px) {
  .offcanvas-lg {
    --bs-offcanvas-width: 320px;
  }
}

.card {
  border: none;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.card .card-header {
  border: none;
  background-color: rgb(249, 250, 253);
}

.card .card-header *,
.card .card-title * {
  margin-bottom: 0;
}
